<footer>
   <section class="footer-section" id="footer">
      <div class="container">
         <div class="footer-tablet">
            <div class="slogan-container">
               <h2 class="footer-slogan">
                  <span class="first-word">Chocolate</span> a delicious cure for a bad day
               </h2>
            </div>
            <div class="contact-and-soc-media">
               <div class="contacts">
                  <h3 class="footer-contact-had">Contact us</h3>
                  <ul class="footer-contact-list">
                     <li class="footer-contact-item">
                        <a class="footer-link" href="tel:+380684439426"
                           >+380 (68) 443-94-26</a
                        >
                     </li>

                     <li class="footer-contact-item">
                        <a
                           class="footer-link"
                           href="mailto:simplychoc@gmail.com"
                           >simplychoc@gmail.com</a
                        >
                     </li>
                  </ul>
               </div>
               <div>
                  <ul class="footer-social-media">
                     <li class="footer-social-media-item">
                        <a
                           class="footer-social-media-link"
                           href="https://www.instagram.com/"
                           target="_blank">
                           <svg class="footer-icon" width="22" height="22">
                              <use
                                 href="/img/icons/icons.svg#icon-instagram"
                              ></use>
                           </svg>
                        </a>
                     </li>
                     <li class="footer-social-media-item">
                        <a
                           class="footer-social-media-link"
                           href="https://twitter.com/"
                           target="_blank">
                           <svg class="footer-icon" width="22" height="22">
                              <use
                                 href="/img/icons/icons.svg#icon-twitter"
                              ></use>
                           </svg>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>

         <div class="footer-line">
            <ul class="footer-navigation-list">
               <li class="footer-navigation-item">
                  <a class="footer-navigation-link" href="#home">Home</a>
               </li>
               <li class="footer-navigation-item">
                  <a class="footer-navigation-link" href="#howtomade"
                     >How is made?</a
                  >
               </li>
               <li class="footer-navigation-item">
                  <a class="footer-navigation-link" href="#products"
                     >Our products</a
                  >
               </li>
               <li class="footer-navigation-item">
                  <a class="footer-navigation-link" href="#sellers"
                     >Top sellers</a
                  >
               </li>
               <li class="footer-navigation-item">
                  <a class="footer-navigation-link" href="#review"
                     >Chocolate is loved</a
                  >
               </li>
            </ul>
         </div>
      </div>
   </section>
</footer>
