<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="description" content="chocolate, chocolate making, chocolate product, how to make chocolate, what is chocolate made from, semi-sweet chocolate, milk chocolate, dark chocolate, white chocolate, simply chocolate, truffles, chocolate bars, buy chocolate">
   <title>Simply Chocolate</title>
   <link rel="shortcut icon" href="../img/icons/chocolate-heart.svg" type="image/svg" />
   <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.css"
   />

   <link rel="stylesheet" href="./css/styles.css" />
   <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
   />
</head>
