<div class="container">
   <nav class="nav">
      <a class="logo" href="./index.html"
         ><span class="logo-text">SIMPLY CHOCOLATE</span ><span class="logo-icon"><img src="../img/icons/logo-desktop.svg" alt=""></span></a
      >

      

      <button
         class="menu-toggle js-open-menu"
         aria-expanded="false"
         aria-controls="mobile-menu"
      >
         <svg class="menu-button-icon" width="40" height="40">
            <use
               class="icon-burger"
               href="../img/icons/icons.svg#icon-burger"
            ></use>
         </svg>
      </button>

      <div class="menu-container js-menu-container" id="mobile-menu">
         <button type="button" class="menu-toggle js-close-menu">
            <svg class="menu-button-close" width="24" height="24">
               <use
                  href="../img/icons/icons.svg#icon-close"
               ></use>
            </svg>

         </button>
         <ul class="nav-menu">
            <li class="nav-menu-item">
               <a href="#" class="nav-menu-link"
                  ><span class="nav-link-line"></span>Home</a
               >
            </li>
            <li class="nav-menu-item">
               <a href="#" class="nav-menu-link">How it’s made?</a>
            </li>
            <li class="nav-menu-item">
               <a href=".#" class="nav-menu-link">Our products</a>
            </li>
            <li class="nav-menu-item">
               <a href=".#" class="nav-menu-link">Top sellers</a>
            </li>
            <li class="nav-menu-item">
               <a href="#" class="nav-menu-link">Chocolate is loved</a>
            </li>
         </ul>
      </div>
      
   </nav>
</div>
