<div class="backdrop is-hidden" data-third-modal>
   <div class="modal-subscribe">
      <form>
         <button
            class="subscribe-close-btn btn-close modal-scroll"
            type="button"
            data-third-modal-close
         >
            <svg>
               <use href="./img/icons/icons.svg#icon-close"></use>
            </svg>
         </button>
       
         <div class="subscribe-modal-bg"></div>
         <div class="subscribe-form-items">
         <h1 class="subscribe-form-title"> Explore our
            <span class="subscribe-form-title-color">new chocolate</span> first! 
         </h1>
         

       
            <input
               type="text"
               name="Email"
               placeholder="Enter your E-mail"
               class="subcribe-text-input"
            />
            <button class="subscribe-form-send" type="submit">Submit</button>
         </div>
        
      </form>
   </div>
</div>
