<div class="backdrop is-hidden revievs-container" data-first-modal>
   <div class="modal-revievs">
      <button class="revievs-close-btn btn-close modal-scroll" type="button" data-first-modal-close>
         <svg class="revievs-close-btn-icon" width="24" height="24">
            <use  href="/img/icons/icons.svg#icon-close"></use>
         </svg>
      </button>
      <form class="modal-form-revievs">
         <h2 class="revievs-title">
            leave a review about&nbsp;<span class="revievs-title-text"
               >our chocolate</span
            >
         </h2>
         <div class="revievs-modal-field">
            <input
               type="text"
               name="user_name"
               placeholder="Name"
               class="revievs-form-input"
            />
         </div>
         <div class="revievs-modal-field">
            <input
               type="email"
               name="user_email"
               placeholder="Enter your email"
               class="revievs-form-input"
            />
         </div>
         <div class="revievs-modal-field phone">
            <input
               type="tel"
               name="user_phone"
               placeholder="Phone number"
               class="revievs-form-input phone"
            />
            <div class="revievs-phone-code">
               <img src="/img/popup/ukraine.png" alt="Flag of Ukraine" />
               <span class="revievs-code">+380</span>
               <span class="revievs-slash">|</span>
            </div>
         </div>
         <div class="revievs-modal-field">
            <textarea
               name="user_message"
               placeholder="Enter text"
               class="revievs-form-input-message revievs-form-input"
            >
            </textarea>
         </div>
         <button class="revievs-send-btn" type="submit">Send</button>
      </form>
   </div>
</div>
