<section class="howtomade-section" id="howtomade">
   <div class="container howtomade-container">
      <h2 class="howtomade-title">
         hOW IT’S<span class="howtomade-title-span">&nbsp;made?</span>
      </h2>
      <div class="howtomade-wrapper">
         <picture class="howtomade-img-wrap">
            <source
               srcset="
                  ./img/howmade/video-wpapper-desktop-x1.jpg 1x,
                  ./img/howmade/video-wpapper-desktop-x2.jpg 2x
               "
               media="(min-width: 1200px)"
            />
            <source
               srcset="
                  ./img/howmade/video-wpapper-tablet-x1.jpg 1x,
                  ./img/howmade/video-wpapper-tablet-x2.jpg 2x
               "
               media="(min-width: 768px)"
            />
            <source
               srcset="
                  ./img/howmade/video-wpapper-mobile-x1.jpg 1x,
                  ./img/howmade/video-wpapper-mobile-x2.jpg 2x
               "
               media="(max-width: 767px)"
            />
            <img
               class="howtomade-img"
               src="./img/howmade/video-wpapper-desktop-x1.jpg"
               alt="making-chocolate-photo"
               width="600"
               height="400"
            />
            <svg class="howtomade-icon-wrap" width="44" height="44">
               <use
                  href="./img/icons/play.svg#play"
                  class="howtomade-icon"
               ></use>
            </svg>
            <svg class="howtomade-icon-wrap-mobile" width="35" height="35">
               <use
                  href="./img/icons/play-mobile.svg#play-mobile"
                  class="howtomade-icon-mobile"
               ></use>
            </svg>
         </picture>
         <div class="howtomade-desc-wrap">
            <h3 class="howtomade-subtitle">
               Try our chocolates today and discover the perfect balance of
               flavor
            </h3>
            <ul class="howtomade-list">
               <li class="howtomade-item">
                  <p class="howtomade-item-text">
                     Heat the milk in a saucepan without bringing it to a boil.
                     Add sugar and cocoa powder.
                  </p>
               </li>
               <li class="howtomade-item">
                  <p class="howtomade-item-text">
                     At the same time, prepare a water bath. Melt the butter on
                     it.
                  </p>
               </li>
               <li class="howtomade-item">
                  <p class="howtomade-item-text">
                     "Mix" the milk mixture and already liquid butter. Mix
                     thoroughly with a silicone spatula so that the mass becomes
                     uniform and silky.
                  </p>
               </li>
               <li class="howtomade-item">
                  <p class="howtomade-item-text">
                     Heat the mixture over low heat, letting it barely boil.
                  </p>
               </li>
               <li class="howtomade-item">
                  <p class="howtomade-item-text">
                     Pour the chocolate into special containers (can be replaced
                     with ice molds). Allow to cool and harden.
                  </p>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>
