<section class="section-product">
   <h2 class="section-product-title">Our <span>products</span></h2>
   <ul class="section-product-list">
      <li class="section-product-item">
         <img
            srcset="./img/ 1x, ./img/ 2x"
            src="./img/"
            alt="Dark chocolate with orange"
            width="230"
            height="201"
         />
         <div class="product-item-content">
            <h3 class="product-item-title">orange</h3>
            <p class="product-item-description">Dark chocolate</p>
         </div>
         <button type="button" class="product-item-btn">45 UAH</button>
      </li>
      <li class="section-product-item">
         <img
            srcset="./img/ 1x, ./img/ 2x"
            src="./img/"
            alt="Milk chocolate with apple and cranberry"
            width="230"
            height="201"
         />
         <div class="product-item-content">
            <h3 class="product-item-title">APPLE&#38;CRANBERRY</h3>
            <p class="product-item-description">Milk chocolate</p>
         </div>
         <button type="button" class="product-item-btn">50 UAH</button>
      </li>
      <li class="section-product-item">
         <img
            srcset="./img/ 1x, ./img/ 2x"
            src="./img/"
            alt="Dark chocolate with lime and sea salt"
            width="230"
            height="201"
         />
         <div class="product-item-content">
            <h3 class="product-item-title">lime&#38;sea salt</h3>
            <p class="product-item-description">Dark chocolate</p>
         </div>
         <button type="button" class="product-item-btn">66 UAH</button>
      </li>
      <li class="section-product-item">
         <img
            srcset="./img/ 1x, ./img/ 2x"
            src="./img/"
            alt="Dark chocolate with pineapple"
            width="230"
            height="201"
         />
         <div class="product-item-content">
            <h3 class="product-item-title">pineapple</h3>
            <p class="product-item-description">Dark chocolate</p>
         </div>
         <button type="button" class="product-item-btn">54 UAH</button>
      </li>
      <li class="section-product-item">
         <img
            srcset="./img/ 1x, ./img/ 2x"
            src="./img/"
            alt="Classic milk chocolate"
            width="230"
            height="201"
         />
         <div class="product-item-content">
            <h3 class="product-item-title">Classic</h3>
            <p class="product-item-description">Milk chocolate</p>
         </div>
         <button type="button" class="product-item-btn">45 UAH</button>
      </li>
      <li class="section-product-item">
         <img
            srcset="./img/ 1x, ./img/ 2x"
            src="./img/"
            alt="Milk chocolate with honey"
            width="230"
            height="201"
         />
         <div class="product-item-content">
            <h3 class="product-item-title">honey</h3>
            <p class="product-item-description">Milk chocolate</p>
         </div>
         <button type="button" class="product-item-btn">50 UAH</button>
      </li>
      <li class="section-product-item">
         <img
            srcset="./img/ 1x, ./img/ 2x"
            src="./img/"
            alt="Dark chocolate with roasted fruits"
            width="230"
            height="201"
         />
         <div class="product-item-content">
            <h3 class="product-item-title">Roasted fruits</h3>
            <p class="product-item-description">Dark chocolate</p>
         </div>
         <button type="button" class="product-item-btn">66 UAH</button>
      </li>
      <li class="section-product-item">
         <img
            srcset="./img/ 1x, ./img/ 2x"
            src="./img/"
            alt="Classic white chocolate"
            width="230"
            height="201"
         />
         <div class="product-item-content">
            <h3 class="product-item-title">Classic</h3>
            <p class="product-item-description">White chocolate</p>
         </div>
         <button type="button" class="product-item-btn">54 UAH</button>
      </li>
   </ul>
</section>
