<section class="review" id="review">
    <h2>CHOCOLATE IS LOVED</h2>
    <ul>
        <li>
            <img src="" alt="Foto woman">
            <h3>Victoria Dobrzhanska</h3>
            <p>I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
        </li>
        <li>
            <img src="" alt="Foto man">
            <h3>Nazar Babenko</h3>
            <p>This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the
            chocolate is good.</p>
        </li>
        <li>
            <img src="" alt="Foto woman">
            <h3>Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft
            but crunchy.</h3>
        </li>
    </ul>
    <button type="button">Leave a review</button>
</section>