<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-hidden-title">Chocolate</h1>
    <h2 class="hero-subtitle">Treat yourself or a loved one to
      our finest ingredients for a moment
      of pure delight!</h2>
    <div class="hero-actions">
      <div class="hero-buttons">
        <button class="buy-now-button" type="button">Buy now</button>
        <a class="how-its-made-button" href="#howtomade">How it&#39;s made</a>
      </div>
      <a class="scroll-down-button" href="#footer">scroll down<svg class="scroll-down" width="28" height="28">
          <use href="../img/icons/scroll.svg"></use>
        </svg></a>
    </div>
  </div>
</section>