.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

body {
font-family: 'Montserrat';
font-size: 14px;
line-height: 1.28;
letter-spacing: -0.02em;
color: var(--dark);
background-color: #E2E2E2;
}

@media screen and (max-width:374px) {
  .container {
    max-width: 365px;
    
  }  
}
@media screen and (min-width:375px) and (max-width:767px) {
  .container {
    max-width: 365px;
    
  }  
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .container {
    max-width:734px;
  }  
}

@media screen and (min-width:1200px) {
  .container {
    max-width:1166px;
  }  
}


:focus {
  outline: 1px solid var(--Orange);
     border-radius: 4px;
     outline-offset: 0;
}
section.hero a:focus {
  outline: 1px solid var(--Orange);
     border-radius: 100px;
     outline-offset: 0;
}
section.products button:focus {
  outline: 0;
  border-radius: 4px;
  outline-offset: 0;
}












