.icon-close {
stroke:black;
}

.container {
   padding: 0 15px;
   margin: 0 auto;
   max-width:1166px;
}
.nav {
}
.logo {
}
.logo-item {
}
.menu-toggle {
}
.js-open-menu {
}
.menu-button-icon {
}
.icon-burger {
}
.menu-container {
}
.js-menu-container {
}
.js-close-menu {
}
.menu-button-close {
}
.icon-close {
}
.nav-menu {
}
.nav-menu-item {
}
.nav-menu-link {
}
.nav-link-line {
}