

:root {
  
  /*NAVY-BLUE-MODAL* Overlay */
  --Herobackground: rgba(46, 47, 66, 0.7);

  --FooterMainText: #ffffff;
  --FooterSecondText: #fd9222;
  --FooterBackground: #1E1823;
  --FooterBefore: rgba(255, 255, 255, 0.1);
}
