.sellers-section {
   padding-top: 72px;
}

.sellers-title {
   font-weight: 600;
   font-size: 20px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: -0.03em;
   text-transform: uppercase;

   margin-bottom: 32px;
}
.sellers-title-text {
   color: var(--Orange);
}
.sellers-list-item {
   overflow: hidden;
   border-radius: 15px;
  }
.sellers-list-item img {
   transition: transform 1000ms ease;
}

.sellers-list-item:hover img {
   transform: scale(1.1);
}
.sellers-img {
   width: 335px;
   border-radius: 15px;
}

.sellers-list {
   display: flex;
   flex-direction: column;
}

.sellers-btn {
   display: block;
   padding: 12px 28px;
   font-weight: 600;   
   line-height: 1.21;
   color: var(--Main-white);
   background: var(--Orange);
   border-radius: 100px;
   border: transparent;
   transition: background-color var(--animation), color var(--animation);
}
.sellers-btn:is(:hover, :focus) {
   background-color: #fcf1e0;
   color: var(--Orange);
   outline: transparent;
}
.sellers-list-item.five {
   margin-left: auto;
   margin-right: auto;
}

@media screen and (max-width: 767px) {
   .sellers-container {
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      padding-right: 20px;
   }

   .sellers-list-item:nth-child(2) {
      margin-bottom: 20px;
      order: 2;
   }
   .sellers-list-item:nth-child(1) {
      margin-bottom: 20px;
   }
   .sellers-list-item:nth-child(4) {
      margin-bottom: 32px;
   }
   .sellers-list-item:nth-child(5) {
      order: 2;
   }
   .revievs-title {
      max-width: 255px;
   }
}
@media screen and (max-width: 1199px) {
   .sellers-list-item:nth-child(3) {
      display: none;
   }
}

@media screen and (min-width: 768px) {
   .sellers-section {
      padding-top: 100px;
   }
   /* .sellers-container {
      padding-left: 15px;
      padding-right: 15px;
   } */
   .sellers-title {
      font-size: 24px;
      line-height: 1.17;
      margin-bottom: 50px;
   }
   .sellers-img {
      width: 344px;
   }
   .sellers-list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 32px 16px;
   }
   .sellers-description {
      max-width: 306px;
   }
   .sellers-btn {
      font-size: 18px;
      line-height: 1.22;
   }
   .sellers-list-item.five {
      margin-left: auto;
      margin-right: 0;
   }
}

@media screen and (min-width: 1200px) {
   .sellers-section {
      padding-top: 128px;
   }
   .sellers-img {
      width: 368px;
   }
   .sellers-description {
      max-width: 407px;
   }
}

/* =============================== MODAL WINDOW REVIEVS ================================= */

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 100;
   background-color: rgba(46, 47, 66, 0.4);
   overflow: scroll;
   opacity: 1;
   visibility: visible;
   transform: scale(1);
   backdrop-filter: blur(3px);
   transition: opacity var(--animation), visibility var(--animation);
}
.backdrop.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transform: scale(1.2);
}
html.is-active {
   overflow: hidden;
}

.modal-reviews {
   min-width: 311px;
   min-height: 471px;
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translate(-50%, 0%) scale(1);
   background-color: #fafafa;
   padding: 32px 24px;

   border-radius: 15px;
}
.backdrop.is-hidden .modal-reviews {
   transform: translate(-50%, -50%) scale(1.2);
}
.reviews-close-btn {
   width: 28px;
   height: 28px;
   position: absolute;
   top: 14px;
   right: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   border: transparent;
   fill: var(--Main-white);
   stroke: var(--dark);
   padding: 6px;
   transition: fill var(--animation), stroke var(--animation);
}
.reviews-close-btn:is(:hover, :focus) {
   fill: var(--Main-white);
   stroke: var(--Orange);
   outline: transparent;
}
.reviews-title {
   font-weight: 600;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: -0.03em;
   text-transform: uppercase;
   color: var(--dark);
   margin-bottom: 32px;
}
.reviews-title-text {
   color: var(--Orange);
}
.reviews-modal-field {
   margin-bottom: 19px;
}
.reviews-modal-field.phone {
   position: relative;
}
.reviews-form-input {
   width: 100%;
   height: 45px;
   padding: 10px 18px;
   border: 1.5px solid rgba(17, 17, 17, 0.05);

   border-radius: 13px;
   background-color: transparent;

   transition: border var(--animation);
}
.reviews-form-input:is(:hover, :focus) {
   border: 2px solid var(--Orange);
   outline: transparent;
}

.reviews-code {
   padding: 4px 8px;
}
.reviews-form-input.phone {
   padding-left: 106px;
}
.reviews-phone-code {
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   left: 18px;
   transform: translateY(-50%);
}
.reviews-code {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.21;
   display: flex;
   align-items: center;
   letter-spacing: -0.02em;

   color: #000000;
}
.reviews-form-input-message {
   height: 91px;
   resize: none;
}

.reviews-slash {
   color: rgba(64, 64, 64, 0.3);
}

.reviews-send-btn {
   padding: 12px 28px;
   background-color: var(--Orange);
   border-radius: 100px;
   border: transparent;

   font-weight: 600;
   font-size: 14px;
   line-height: 1.21;
   color: #ffffff;

   transition: background-color var(--animation), color var(--animation);
}
.reviews-send-btn:is(:hover, :focus) {
   background-color: #fcf1e0;
   color: var(--Orange);
   outline: transparent;
}
.reviews-form-input::placeholder {
   font-size: 14px;
   line-height: 1.21;
   letter-spacing: -0.02em;
   color: rgba(64, 64, 64, 0.3);

   transition: color var(--animation);
}
.reviews-form-input:focus::placeholder,
.reviews-form-input:hover::placeholder {
   color: var(--Orange);
}

@media screen and (min-width: 768px) {
   .modal-reviews {
      min-width: 517px;
      min-height: 631px;
      padding: 40px 40px;
   }
   .reviews-close-btn {
      width: 32px;
      height: 32px;
   }
   .reviews-title {
      display: grid;
      font-size: 24px;
      line-height: 1.17;
      margin-bottom: 40px;
   }
   /* .revievs-send-btn-icon {
      width: 14px;
      height: 14px;
   } */
   .reviews-form-input {
      height: 66px;
      padding: 24px 22px;
   }
   .reviews-form-input-message {
      height: 137px;
   }
   .reviews-code {
      padding: 5px 18px;
   }
   .reviews-code,
   .reviews-slash {
      font-size: 18px;
      line-height: 1.22;
   }
   .reviews-form-input::placeholder {
      font-size: 18px;
      line-height: 1.22;
   }
   .reviews-form-input.phone {
      padding-left: 140px;
   }
}
@media screen and (min-width: 1200px) {
   .modal-reviews {
      padding: 45px 40px 40px;
   }
}

/* ===================================== NEW MODAL ==================================== */
.backdrop-two {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
   background-color: rgba(46, 47, 66, 0.4);
   overflow: scroll;
   /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); */
   opacity: 1;
   visibility: visible;
   backdrop-filter: blur(3px);
}
.backdrop-two.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}
.reviews-modal-two-text {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.reviews-modal-two {
   min-width: 311px;
   /* min-height: 471px; */
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, 0%) scale(1);
   /* background-color: #fafafa; */
   padding: 15px;

   border-radius: 15px;
   display: flex;
   flex-direction: column;
   /* background-color: rgba(23, 26, 36, 0.2); */
}

.reviews-close-btn-two {
   width: 28px;
   height: 28px;
   position: absolute;
   top: 14px;
   right: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   border: transparent;
   fill: var(--Main-white);
   stroke: var(--Main-white);
   padding: 6px;
}

.reviews-two-description {
   color: var(--Orange);
   font-size: 40px;
   line-height: 1.2;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 40px;
   text-shadow: 4px 4px 10px var(--dark);
}
.reviews-send-link {
   margin-left: auto;
}
.reviews-send-two-btn {
   padding: 8px 15px;
   border-radius: 100px;
   background-color: transparent;
   border: none;
   font-weight: 700;
   font-size: 20px;
   text-transform: uppercase;
   text-shadow: 2px 2px var(--Orange);
   transition: color var(--animation), text-shadow var(--animation);
}
.reviews-send-two-btn:is(:hover, :focus) {
   color: var(--Orange);
   text-shadow: 2px 2px var(--dark);
}
