.section-subscribe {
   background-image: linear-gradient(
         0deg,
         rgba(0, 0, 0, 0.2),
         rgba(0, 0, 0, 0.2)
      ),
      url(../img/subscribe/subscribe-bc-mobile-x1.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.container-subscribe {
   padding: 62px 24px;
}
.subscribe-title {
   margin-right: auto;
   margin-left: auto;

   width: 291px;
   font-weight: 600;
   font-size: 20px;
   line-height: 1.2;
   text-align: center;

   text-transform: uppercase;

   color: #ffffff;
}

.subscribe-text {
   margin: 24px auto;
   font-size: 14px;
   line-height: 1.2;

   text-align: center;
   letter-spacing: -0.02em;

   color: #ffffff;
}

.subscribe-btn {
   margin-right: auto;
   margin-left: auto;

   display: block;
   cursor: pointer;
   font-family: inherit;
   min-width: 128px;
   height: 41px;

   background: #fd9222;
   color: #ffffff;
   border-radius: 100px;
   border: none;
}

.subscribe-btn:hover {
   background-color: #fcf1e0;
   color: #fd9222;
}

/* MOBILE */
@media screen and (min-width: 375px) and (max-width: 767px) {
   .subscribe-text {
     
      width: 326px;
   
   }
  
  
   .section-subscribe {
      background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
         ),
         url(../img/subscribe/subscribe-bc-mobile-x1.jpg);
      background-repeat: no-repeat;
      background-position: center;
   }
}

/* TABLET */
@media screen and (min-width: 768px) {
   .section-subscribe {
      background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
         ),
         url(../img/subscribe/subscribe-bc-tablet-x1.jpg);
      background-repeat: no-repeat;
      background-position: center;
   }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
   .section-subscribe {
      background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
         ),
         url(../img/subscribe/subscribe-bc-tablet-x2.jpg);
   }

   .container-subscribe {
      padding: 72px 24px;
   }
   .subscribe-title {
      font-size: 24px;
      line-height: 1.16;
   }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
   .section-subscribe {
      text-align: center;
      margin: 0 auto;
      background-size: cover;
      background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
         ),
         url(../img/subscribe/subscribe-bc-desktop-x1.jpg);
      background-repeat: no-repeat;
      background-position: center;
   }
   .container-subscribe {
      padding: 72px 24px;
   }

   .subscribe-title {
      font-size: 24px;
      line-height: 1.16;

      text-align: center;
   }

   .subscribe-text {
      width: 467px;
      text-align: center;
      letter-spacing: -0.02em;
   }
}
