/*!##################### 0px-767px ########################### */
@media screen and (max-width: 767px) {
   .howtomade-section {
      padding-top: 72px;
   }
   .howtomade-img,
   .howtomade-img-wrap {
      position: relative;
   }
   .howtomade-video-btn,
   .howtomade-icon-wrap-mobile {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 11;
   }
   .howtomade-video-btn {
      width: 35px;
      height: 35px;
      background-color: transparent;
      border-radius: 50%;
      outline: none;
      border: none;
   }
   .howtomade-icon-mobile {
      stroke: #fff;
      fill: none;
   }
   .howtomade-icon-wrap,
   .howtomade-icon {
      display: none;
   }
}
/* !##################### 768px-1199px ########################### */
@media screen and (min-width: 768px) and (max-width: 1199px) {
   .howtomade-section {
      padding-top: 100px;
   }
   .howtomade-container {
      max-width: 648px;
   }
   .howtomade-img {
      width: 100%;
   }
   .howtomade-list {
      padding-right: 70px;
   }
   .howtomade-desc-wrap {
      max-width: 614px;
   }
}
/* !##################### 0px-768px ########################### */
/* ? ======= HOWTOMADE SECTION ====== */
.howtomade-title {
   font-weight: 600;
   font-size: 24px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: -0.03em;
   text-transform: uppercase;
   margin-bottom: 32px;
}
.howtomade-title-span {
   color: var(--Orange);
}
.howtomade-wrapper {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
.howtomade-img-wrap {
   position: relative;
}
.howtomade-img {
   position: relative;
   border-radius: 15px;
   z-index: 11;
}
.hidden {
   display: none;
}
.howtomade-video {
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 15px;
   border: 2px solid var(--Orange);
   width: 100%;
   max-width: 335px;
   height: 100%;
   z-index: 10;
}
.howtomade-desc-wrap {
   padding: 20px 14px;
   background-color: var(--Main-white);
   border-radius: 15px;
}
.howtomade-subtitle {
   font-weight: 600;
   font-size: 18px;
   line-height: 1.33;
   margin-bottom: 28px;
}
.howtomade-list {
   display: flex;
   flex-direction: column;
   row-gap: 18px;
}
.howtomade-item {
   display: flex;
   position: relative;
   padding-left: 16px;
}
.howtomade-item::before {
   content: '';
   position: absolute;
   width: 8px;
   height: 8px;
   left: 0px;
   top: 5px;
   background-color: #4c4c4c;
   border: 1px solid #eceded;
   border-radius: 50%;
}
.howtomade-item-text {
   line-height: 1.29;
}
/* !##################### 768px-1199px ########################### */
@media screen and (min-width: 768px) {
   .howtomade-video {
      max-width: 614px;
   }
   .howtomade-icon-wrap-mobile,
   .howtomade-icon-mobile {
      display: none;
   }
   .howtomade-video-btn,
   .howtomade-icon-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 11;
   }
   .howtomade-video-btn {
      width: 44px;
      height: 44px;
      background-color: transparent;
      border-radius: 50%;
      outline: none;
      border: none;
   }

   .howtomade-icon {
      stroke: var(--Main-white);
      fill: none;
   }
   .howtomade-desc-wrap {
      padding: 32px;
   }
   .howtomade-title {
      margin-bottom: 50px;
   }
   .howtomade-subtitle {
      max-width: 350px;
      margin-bottom: 20px;
   }
}
/* !##################### < 1200px ########################### */
@media screen and (min-width: 1200px) {
   .howtomade-section {
      padding-top: 128px;
   }
   .howtomade-wrapper {
      flex-wrap: nowrap;
   }
   .howtomade-list {
      row-gap: 24px;
      padding-right: 26px;
   }
   .howtomade-img {
      max-width: 600px;
   }
   .howtomade-video {
      max-width: 600px;
   }
}